body {
  background: black;
}

#end_text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 40px;
  font-family: Georgia, serif;
  text-align: center;
}

#Button {
  display: inline-block;
  margin: 20px;
  padding: 15px 30px;
  width: fit-content;
  font-weight: bold;
  text-decoration: none;
  background-color: darkgray;
  color: white;
  font-family: "Georgia", serif;
  font-size: 30px;
  border-radius: 8px;
}

#Button:hover {
  background-color: #333;
}
